$text: 'Roboto', sans-serif;

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);
}

.box {
  display: flex;
  gap: 55px;
  flex-direction: column;
}

.time__title {
  font-family: $text;
}

.time__input {
  margin: 0;
  padding: 15px;
  text-align: center;
  font-family: $text;
  font-size: 1.5rem;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);
  color: #fff;
  transition: all 0.25s ease-in-out;
}

.time__input:focus {
  border: 2px solid #29323c;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323c -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked + label span {
  transform: scale(1.5);
}

label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

label:hover span {
  transform: scale(1.25);
}

label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

label span.white {
  background: #fff;
}
label span.red {
  background: #db2828;
}
label span.orange {
  background: #fbbd08;
}
label span.yellow {
  background: #f8f405;
}
label span.olive {
  background: #b5cc18;
}
label span.green {
  background: #21ba45;
}
label span.teal {
  background: #00b5ad;
}
label span.blue {
  background: #2185d0;
}
label span.violet {
  background: #6435c9;
}
label span.purple {
  background: #a333c8;
}
label span.pink {
  background: #e03997;
}
label span.mix {
  background: linear-gradient(
    45deg,
    #fff,
    #db2828,
    #f2711c,
    #fbbd08,
    #b5cc18,
    #21ba45
  );
}
.hide {
  opacity: 0;
}
